.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  width: 30%;
  margin-top: 10px;
}

.item {
  border-radius: 10px;
  background: #edf;
  padding: 15px;
  margin: 5px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  text-align: left;
}
