<ul class="flex-container">
  <li class="flex-item">
    <div class="item">
      <img
        src="https://images-na.ssl-images-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SY1000_CR0,0,674,1000_AL_.jpg"
        alt=""/>
      <h3>Blade Runner 2049</h3>
      <p>
        A young blade runner's discovery of a long-buried secret leads him to track down former blade runner Rick
        Deckard, who's been missing for thirty years.
      </p>
    </div>
  </li>
  <li class="flex-item">
    <div class="item">
      <img
        src="https://images-na.ssl-images-amazon.com/images/M/MV5BOThhYzY4ZDUtMWVhNy00MjliLWFhOGQtNTM4ZjMyYjljOTU4XkEyXkFqcGdeQXVyNjU0OTQ0OTY@.jpg"
        alt=""/>
      <h3>The Shawshank Redemption</h3>
      <p>
        Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common
        decency.
      </p>
    </div>
  </li>
  <li class="flex-item">
    <div class="item">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BY2Q2NzQ3ZDUtNWU5OC00Yjc0LThlYmEtNWM3NTFmM2JiY2VhXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SY1000_CR0,0,700,1000_AL_.jpg" alt=""/>
      <h3>The Godfather</h3>
      <p>
        The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.
      </p>
    </div>
  </li>
  <li class="flex-item">
    <div class="item">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg" alt=""/>
      <h3>The Dark Knight</h3>
      <p>
        When the menace known as the Joker emerges from his mysterious past, he wreaks havoc and chaos on the people of Gotham, the Dark Knight must accept one of the greatest psychological and physical tests of his ability to fight injustice.
      </p>
    </div>
  </li>
  <li class="flex-item">
    <div class="item">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMWU4N2FjNzYtNTVkNC00NzQ0LTg0MjAtYTJlMjFhNGUxZDFmXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SY1000_CR0,0,649,1000_AL_.jpg" alt=""/>
      <h3>12 Angry Men</h3>
      <p>
        A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.
      </p>
    </div>
  </li>
  <li class="flex-item">
    <div class="item">
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BMTkxMTA5OTAzMl5BMl5BanBnXkFtZTgwNjA5MDc3NjE@._V1_SY1000_CR0,0,673,1000_AL_.jpg" alt=""/>
      <h3>Pulp Fiction</h3>
      <p>
        The lives of two mob hitmen, a boxer, a gangster's wife, and a pair of diner bandits intertwine in four tales of violence and redemption.
      </p>
    </div>
  </li>
</ul>
