<div class="content">


<form class="form-horizontal" (ngSubmit)="addNewDirector()" #directorForm="ngForm">
  <h3 class="text-center">Enter director's personal data: </h3>
  <div class="form-group row">
    <div>
      <label for="directorName">Name</label>
      <input [(ngModel)]="director.Name" type="text" class="form-control" id="directorName"
             placeholder="Enter director's name" name="name">
    </div>
  </div>
  <div class="form-group row">
    <div>
      <label for="directorSurname">Surname</label>
      <input [(ngModel)]="director.LastName" type="text" class="form-control" id="directorSurname"
             placeholder="Enter director's surname" name="surname">
    </div>
  </div>
  <div class="form-group row">
    <div >
      <label for="directorBirthdate">Birthdate</label>
      <input [(ngModel)]="director.Birthdate" type="date" class="form-control" id="directorBirthdate" name="date">
    </div>
  </div>

  <button type="submit" class="btn btn-primary navbar-right">Submit</button>
</form>

</div>
