<nav *ngIf="!userService.getCurrentUser()" class="navbar navbar-inverse">
  <div class="container-fluid container">
    <!--<div class="navbar-header"><a class="navbar-brand" href="#"><img src="" alt="Movies Site"></a></div>-->
    <ul class="nav navbar-nav">
      <li class="navbar-nav navbar-left"><a href="/welcome-page"><img src="http://c2clive.com/wp-content/uploads/2017/02/635909140777574051-183397971_the-movies-logo-11.gif" height="60" width="60"></a></li>
      <li class="navbar-nav"><a routerLink="/movies">List of Movies</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-nav"><a routerLink="/login">Login</a></li>
      <li class="navbar-nav"><a routerLink="/register">Register</a></li>
    </ul>
  </div>
</nav>
<nav *ngIf="userService.getCurrentUser()" class="navbar navbar-inverse">
  <div class="container-fluid container">
    <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      <li class="navbar-nav navbar-left"><a href="/welcome-page"><img src="http://c2clive.com/wp-content/uploads/2017/02/635909140777574051-183397971_the-movies-logo-11.gif" height="60" width="60"></a></li>
      <li class="navbar-nav"><a routerLink="/movies">List of Movies</a></li>
      <li *ngIf="userService.getCurrentUser().IsAdmin" class="navbar-nav"><a routerLink="/director">Add new director</a></li>
      <li *ngIf="userService.getCurrentUser().IsAdmin" class="navbar-nav"><a routerLink="/addmovie">Add new movie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-nav"><a routerLink="/account">MyAccount</a></li>
      <li class="navbar-nav">
        <button id="logout" class="btn btn-link navbar-btn" (click)="logout()" href="#">Logout</button>
      </li>
    </ul>
  </div>
</nav>

