<div class="content">

<form class="form-horizontal" (ngSubmit)="addNewMovie()" #movieForm="ngForm">
  <h3 class="text-center">Enter movie's data: </h3>
  <div class="form-group row">
    <div >
      <label for="movieTitle">Title</label>
      <input [(ngModel)]="movie.Title" type="text" class="form-control" id="movieTitle"
             placeholder="Enter movie title" name="movieTitle">
    </div>
  </div>
  <div class="form-group row">
    <div >
      <label for="productionYear">Premiere date:</label>
      <input [(ngModel)]="movie.ProductionYear" type="date" class="form-control" id="productionYear"
             placeholder="Enter movie title" name="productionYear">
    </div>
  </div>
  <div class="form-group row">
    <div>
      <label for="description">Description: </label>
      <textarea [(ngModel)]="movie.Description" class="form-control" id="description" name="description"
                rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row">
    <label for="chooseDirector">Choose director:</label>
    <select [(ngModel)]="selectedDirector" name="director">
      <option *ngFor="let director of directorsList" [ngValue]="director" id="chooseDirector">
        {{director.Name}} {{director.LastName}}
      </option>
    </select>
    <label for="chooseGenre">Choose genre:</label>
    <select [(ngModel)]="selectedGenre" name="genre">
      <option *ngFor="let genre of genresList" [ngValue]="genre" id="chooseGenre">
        {{genre.Name}}
      </option>
    </select>
  </div>
    <!--bonus functionality to be added--->
    <!--<div *ngIf="selectedGenre == genresList[genresList.length-1]">-->
    <!--<input  [(ngModel)]="customGenre" type="text" class="form-control" id="genre"-->
           <!--placeholder="Enter new genre" name="genre">-->
    <!--</div>-->

  <button type="submit" class="btn btn-primary navbar-right">Submit</button>
</form>

</div>
