<div class="container" id="loginContainer">
  <form class="form-signin" (ngSubmit)="login()" #loginForm="ngForm">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
    <label class="sr-only" for="login">Login:</label>
    <label>Login:</label>
    <input [(ngModel)]="userCredentials.Login" type="text" class="form-control" id="login" name="login"
           placeholder="Enter login" required>
    </div>
    <div class="form-group">
    <label class="sr-only" for="password">Password:</label>
    <label>Password:</label>
    <input [(ngModel)]="userCredentials.Password" type="password" class="form-control" id="password" name="password"
           placeholder="Enter password" required>
    </div>
    <button type="submit" id="loginButton" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">
      Login!
    </button>
  </form>
</div>


