div.stars {
  text-align:left;
  direction:rtl;
}
div.stars form {
  display:inline-block;
 padding-left: 38px;
}
input.star {
  display: none;
}

label.star {
  display:inline-block;
  padding: 15px;
  font-size: 26px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .40s;
}
input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before {
  color: #F62;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.3);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}
