<div class="container" *ngIf="movie">

  <h2>{{movie.Title}}</h2>
  <h4>Premiere date: {{movie.ProductionYear | date: 'shortDate'}}</h4>

  <h4>Director: {{movieDirector.Name +' '+ movieDirector.LastName}}</h4>
  <h6>Birth date: {{movieDirector.Birthdate | date: 'shortDate'}}</h6>
  <h3>Average Rate: {{average}}</h3>
  <div class="container" *ngIf="!movie">
    <h1>Loading movie details...</h1>
  </div>

  <div class="row">

  </div>
  <div *ngIf="userService.getCurrentUser()" class="stars">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <form class="container form-horizontal" #ratingForm="ngForm">
      <input (click)="addRating(10)" value="10" class="star star-5" id="star-10" type="radio" name="star"/>
      <label class="star star-5" for="star-10"></label>
      <input (click)="addRating(9)" value="9" class="star star-4" id="star-9" type="radio" name="star"/>
      <label class="star star-4" for="star-9"></label>
      <input (click)="addRating(8)" value="8" class="star star-4" id="star-8" type="radio" name="star"/>
      <label class="star star-4" for="star-8"></label>
      <input (click)="addRating(7)" value="7" class="star star-4" id="star-7" type="radio" name="star"/>
      <label class="star star-4" for="star-7"></label>
      <input (click)="addRating(6)" value="6" class="star star-3" id="star-6" type="radio" name="star"/>
      <label class="star star-3" for="star-6"></label>
      <input (click)="addRating(5)" value="5" class="star star-3" id="star-5" type="radio" name="star"/>
      <label class="star star-3" for="star-5"></label>
      <input (click)="addRating(4)" value="4" class="star star-2" id="star-4" type="radio" name="star"/>
      <label class="star star-2" for="star-4"></label>
      <input (click)="addRating(3)" value="3" class="star star-2" id="star-3" type="radio" name="star"/>
      <label class="star star-2" for="star-3"></label>
      <input (click)="addRating(2)" value="2" class="star star-1" id="star-2" type="radio" name="star"/>
      <label class="star star-1" for="star-2"></label>
      <input (click)="addRating(1)" value="1" class="star star-1" id="star-1" type="radio" name="star"/>
      <label class="star star-1" for="star-1"></label>
    </form>
  </div>

  <!--Followed User Ratings List-->
  <!--<div id="listOfFollowedUsersRatings" *ngIf="followedUsersRatings">-->
  <div id="listOfFollowedUsersRatings">
    <h1>{{title}}</h1>

    <collapsible-list [type]="'accordion'">

      <collapsible-list-item>
        <collapsible-header class="waves-effect ">
          Click to see how your friends have rated this film!
        </collapsible-header>
        <collapsible-body [expanded]="false">
          <p *ngFor="let followedUserRating of followedUsersRatings$ | async">{{followedUserRating.Login}} rated:
            {{followedUserRating.Rate}}</p>
        </collapsible-body>
      </collapsible-list-item>

    </collapsible-list>
    <!-- End Followed User Ratings List-->
  </div>



  <div class="row" id="listOfCommentsContainer" class="container" *ngIf="comments">
    <div >
      <div class="page-header">
        <h1><small class="pull-right">{{comments.length}}</small> Comments </h1>
      </div>
      <div class="comments-list">
        <div class="media" *ngFor="let com of comments">
          <div class="media-body">

            <h4 class="media-heading user_name">{{com.Login}}</h4>
            {{com.Content}}

          </div>

        </div>
        <p></p><br/>
        <div *ngIf="userService.getCurrentUser()">
          <form class="form-horizontal" (ngSubmit)="addComment()" #commentForm="ngForm">
            <div class="form-group">
              <div class="col-sm-10">
                <input [(ngModel)]="comment.Content" type="text" class="form-control" id="comment" name="comment"
                       placeholder="Enter your comment here...">

              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
            </div>
          </form>
          <br/>
        </div>
      </div>


    </div>
  </div>

</div>





