

<div class="container">
  <ol>
    <h2>Users list for you:</h2>
    <span *ngFor="let userForList of usersForList$ | async">
      <li><b>{{userForList.UserLogin}}</b>
        <button class="btn btn-link" *ngIf="!userForList.IsAdmin && userService.getCurrentUser().IsAdmin"  (click)="makeAdmin(userForList.UserLogin)">Make an admin</button>
        <button class="btn btn-link" *ngIf="!userForList.IsFollowed" (click)="followThisUser(userForList.UserLogin)">Follow this user</button>
    </li>
    </span>
  </ol>





</div>

