<div class="container" id="registerContainer">
  <form class="form-signin" (ngSubmit)="addCredentials()" #registerForm="ngForm" #f="ngForm" novalidate>
    <h2 class="form-signin-heading">Register</h2>
    <div class="form-group">
      <label class="sr-only" for="registerLogin">Type your login:</label>
    <label >Type your login:</label>
        <input [(ngModel)]="credentials.Login" type="text" class="form-control" id="registerLogin" name="registerLogin" placeholder="Enter login" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="registerPassword">Type your password:</label>
      <label>Type your password:</label>
        <input [(ngModel)]="credentials.Password" [(ngModel)]="validPassword.password" type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="Enter password" required validateEqual="confirmPassword" reverse="true" #password="ngModel">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
    </div>
    <div class="form-group">
      <label class="sr-only" for="registerPassword">Retype password:</label>
      <label>Retype password:</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="validPassword.confirmPassword" required validateEqual="registerPassword" reverse="false" #confirmPassword="ngModel" placeholder="Retype password">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
    </div>
        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>
