<ul class="flex-container">
  <li *ngFor="let movie of movies" class="flex-item">
    <div class="item">
      <a class="deco-none" routerLink="/movie/{{movie.Id}}">,
        <h2>{{movie.Title}}</h2>
        <p>{{movie.Description}}</p></a>
    </div>
  </li>
</ul>

